CRYPTO_NAV_DATABASE_URL=postgres://ubuntu@%2Fmnt%2Fnvme-raid0-28t%2Fpostgresql%2F16%2Frun/crypto_nav_manager
CRYPTO_NAV_EXPORT_ROOT=/mnt/hdd-raid5-72t/liang_torch/raw_data/crypto_data/order_data
CRYPTO_NAV_CLICKHOUSE_URL=http://127.0.0.1:8123
